@charset "utf-8";
/* CSS Document */
/* animate */
body {background-color: #DEE1FF;color: indigo;}
	h1 {background-color: #E6E8FF;}	
	h2 {background-color: #E6E8FF;}
#wrapper {width: 80%;
min-width: 700px;
max-width: 1024px;
margin-right: auto;
margin-left: auto;
background-color: #DEE1FF;
box-shadow: 3px 3px 3px #E6E8FF}
img {border-color: #EFF1FF; border-style: dashed; border-width: 8px}

nav a { text-decoration: none}
nav a:link {color: indigo}
nav a:visited {color: darkorchid}
nav a:hover {color: mediumslateblue}
nav ul { list-style-type: none;
margin: 0; 
padding-left: 0;}